#homeSection {
    display: flex;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
#homeSection .icons-container i {
    margin: 0 20px;
    font-size: 40px;
    font-weight: bold;
}
@media screen and (max-width: 767px) {
    #homeSection {
        /* height: 50vh; */
        font-size: 10px;
    }
        #homeSection .icons-container i {
            margin: 0 20px;
        }
}
body {
    height: 100vh;
}